<nav class="burger-menu h-[calc(100%-80px)] mt-[80px] w-screen bg-black fixed z-20">
    <a class="mx-auto text-2xl block w-max px-16 py-5 text-center" routerLink="/">{{'content.header.home' | translate}}</a>
    <a class="mx-auto text-2xl block w-max px-16 py-5 text-center" routerLink="/about">{{'content.header.about' | translate}}</a>
    <a class="mx-auto text-2xl block w-max px-16 py-5 text-center" routerLink="/portfolio">{{'content.header.portfolio' | translate}}</a>
    <a class="mx-auto text-2xl block w-max px-16 py-5 text-center" routerLink="/news">{{'content.header.news' | translate}}</a>
</nav>