<section class="px-16-adaptive pt-8">
    <div class="flex flex-wrap">
        <div class="w-1/2 flex flex-grow flex-col justify-center">
            <h4 class="mb-3">Home > <span class="text-orange-500">About</span></h4>
            <h1 class="mb-3">{{'content.about.section1.h1' | translate}}</h1>
            <p class="mb-3">{{'content.about.section1.p1' | translate}}</p>
            <button class="block w-fit bg-orange-500 rounded-full py-2 px-3 my-5">{{'buttons.get_in_touch' | translate}}</button>
        </div>
        <div class="w-1/2 flex-grow min-w-[240px]">
            <img src="./assets/images/pictures-large/games/stray.webp" alt="project 1" class="ml-auto my-auto">
        </div>
    </div>
</section>
<section class="px-16-adaptive">
    <h2 class="mb-4">{{'content.about.section2.h1' | translate}}</h2>
    <div class="flex flex-wrap justify-between gap-10">
        <div class="card transperent-gray w-[33%] min-w-[240px] max-w-[340px]">
            <h4 class="purple">{{'content.about.section2.card1.h1' | translate}}</h4>
            <h3 class="my-2">{{'content.about.section2.card1.h2' | translate}}</h3>
            <p class="text-sm">{{'content.about.section2.card1.p1' | translate}}</p>
        </div>
        <div class="card transperent-gray w-[33%] min-w-[240px] max-w-[340px]">
            <h4 class="brown">{{'content.about.section2.card2.h1' | translate}}</h4>
            <h3 class="my-2">{{'content.about.section2.card2.h2' | translate}}</h3>
            <p class="text-sm">{{'content.about.section2.card2.p1' | translate}}</p>
        </div>
        <div class="card transperent-gray w-[33%] min-w-[240px] max-w-[340px]">
            <h4 class="green">{{'content.about.section2.card3.h1' | translate}}</h4>
            <h3 class="my-2">{{'content.about.section2.card3.h2' | translate}}</h3>
            <p class="text-sm">{{'content.about.section2.card3.p1' | translate}}</p>
        </div>
    </div>
</section>

<section class="transperent-gray pt-16">
    <div class="px-16-adaptive max-h-[400px] flex gap-5">
        <div class="w-[50%] max-w-[360px]">
            <img src="./assets/images/pictures-large/games/game2.webp" alt="game2 picture" class="mx-auto w-full">
        </div>
        <div class="w-[100%] max-w-[560px]">
            <h4 class="mb-3">{{'content.about.section3.h1' | translate}}</h4>
            <h2 class="mb-3">{{'content.about.section3.h2' | translate}}</h2>
            <p>{{'content.about.section3.p1' | translate}}</p>
        </div>
    </div>
</section>

<section class="px-16-adaptive">
    <h2 class="mb-3">{{'content.about.section4.h1' | translate}}</h2>
    <div class="flex flex-wrap justify-between gap-3">
        <div class="card transperent-gray w-[20%] min-w-[230px] max-w-[300px]">
            <img alt="denys photo" src="./assets/images/people/employees/denys.png">
            <h2 class="text-center mb-2">Denys O.</h2>
            <h3 class="font-thin text-center text-sm">Lead Engineer</h3>
        </div>
        <div class="card transperent-gray w-[20%] min-w-[230px] max-w-[300px]">
            <img alt="denys photo" src="./assets/images/people/employees/somebody.png">
            <h2 class="text-center mb-2">Andriy H.</h2>
            <h3 class="font-thin text-center text-sm">Lead 2D And 3D Artist</h3>
        </div>
        <div class="card transperent-gray w-[20%] min-w-[230px] max-w-[300px]">
            <img alt="denys photo" src="./assets/images/people/employees/somebody.png">
            <h2 class="text-center mb-2">Vova K.</h2>
            <h3 class="font-thin text-center text-sm">Lead 2D And 3D Artist</h3>
        </div>
        <div class="card transperent-gray w-[20%] min-w-[230px] max-w-[300px]">
            <img alt="denys photo" src="./assets/images/people/employees/somebody.png">
            <h2 class="text-center mb-2">Nazariy M.</h2>
            <h3 class="font-thin text-center text-sm">CEO</h3>
        </div>
    </div>
</section>