<article class="flex justify-around">
    <section class="min-w-[50%]">
        <h3 class="text-orange-500 mbs-5">3D game Dev</h3>
        <h1 class="my-5 text-interval-mid">Робота, яку ми виконуємо для наших клієнтів</h1>
        <p class="my-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Laudantium aliquid ut soluta blanditiis rem repellat voluptate, 
            consectetur amet repudiandae incidunt iste temporibus neque consequuntur facere quibusdam assumenda modi optio sint?</p>
        <button class="block bg-orange-500 rounded-full py-2 px-3 my-5">
            Детальніше
        </button>
    </section>
    <section class="min-w-[50%] overflow-visible">
        <div class="relative w-[100vw] h-[100%]">
            <img src="../../../../assets/images/joystick.png" class="w-[400px] h-auto relative top-0 left-[20%]">
            <img src="../../../../assets/images/logos/unitylogo.png" class="w-[100px] h-auto absolute top-[20px] left-[15%]">
            <img src="../../../../assets/images/logos/crylogo.png" class="w-[100px] h-auto absolute top-[80px] left-[10%]">
            <img src="../../../../assets/images/logos/uelogo.png" class="w-[75px] h-auto absolute top-[200px] left-[4.5%]">
        </div>
    </section>
</article>

<article>
    <section class="flex justify-between mb-3">
        <h2>Зараз популярне</h2>
        <button class="gray-button">Більше</button>
    </section>
    <section class="flex justify-around">
        <div class="w-[20%]">
            <img src="../../../../assets/images/pictures/stray.png" class="h-auto w-[251px] mb-2">
            <div class="flex justify-center">
                <img src="../../../../assets/images/fire.png" class="inline h-[18.75px] w-auto pr-1">
                <span class="text-sm">40 followers</span>
            </div>
        </div>
        <div class="w-[20%]">
            <img src="../../../../assets/images/pictures/stray.png" class="h-auto w-[251px] mb-2">
            <div class="flex justify-center">
                <img src="../../../../assets/images/fire.png" class="inline h-[18.75px] w-auto pr-1">
                <span class="text-sm">40 followers</span>
            </div>
        </div>
        <div class="w-[20%]">
            <img src="../../../../assets/images/pictures/stray.png" class="h-auto w-[251px] mb-2">
            <div class="flex justify-center">
                <img src="../../../../assets/images/fire.png" class="inline h-[18.75px] w-auto pr-1">
                <span class="text-sm">40 followers</span>
            </div>
        </div>
        <div class="w-[20%]">
            <img src="../../../../assets/images/pictures/stray.png" class="h-auto w-[251px] mb-2">
            <div class="flex justify-center">
                <img src="../../../../assets/images/fire.png" class="inline h-[18.75px] w-auto pr-1">
                <span class="text-sm">40 followers</span>
            </div>
        </div>
    </section>
</article>