<div class="flex justify-between p-5 px-8">
    <h2>LOGO</h2>
    <div class="flex justify-between w-[50%] min-w-[540px]">
        <div class="flex flex-col justify-between">
            <div class="flex justify-between gap-10">
                <a routerLink="/home">Головна</a>
                <a routerLink="/about">Про нас</a>
                <a routerLink="/portfolio">Портфоліо</a>
                <a routerLink="/news">Новини</a>
            </div>
            <div>
                <div id="pointer" class="bg-orange-500 w-[10%] h-1"></div>
            </div>
        </div>
        <button routerLink="">Зв'язатися з нами</button>
    </div>
</div>
