<header class="flex h-[80px] bg-black justify-between p-5 pr-8 fixed z-50 w-screen">
    <img src="./assets/images/logo.webp" class="relative left-0 top-[-1.25rem] h-[80px]" alt="logo">
    <div class="flex justify-end">
        <div class="my-auto h-fit mr-4" id="dropdown">
            <button class="dropdown-btn" (click)="openLangDropdown()">
                <span class="mr-3">{{currentLang}}</span>
                <div id="arrow"></div>
            </button>
            <div class="dropdown-menu">
              <a (click)="setLang('uk')">uk</a>
              <a (click)="setLang('en')">en</a>
            </div>
          </div>
        <div id="desktop_nav" class="flex my-auto justify-end gap-10 w-fit">
            <div class="flex flex-col justify-center gap-3">
                <nav class="flex justify-between gap-10">
                    <a class="nav-button" routerLink="/home">{{'content.header.home' | translate}}</a>
                    <a class="nav-button" routerLink="/about">{{'content.header.about' | translate}}</a>
                    <a class="nav-button" routerLink="/portfolio">{{'content.header.portfolio' | translate}}</a>
                    <a class="nav-button" routerLink="/news">{{'content.header.news' | translate}}</a>
                </nav>
                <div>
                    <div id="pointer" class="flex">
                        <div class="w-6 h-1 rounded-lg bg-orange-500 mr-1"></div>
                        <div class="w-1.5 h-1 rounded-lg bg-orange-500"></div>
                    </div>
                </div>
            </div>
            <button routerLink="/contact_us">{{'content.header.contact_us' | translate}}</button>
        </div>
        <div (click)="openBurgerMenu()"
            class="flex ml-5 my-auto flex-col justify-between w-8 h-7" id="mobile_nav" 
            onclick="this.classList.toggle('active')">
            <div class="bg-white w-full h-[15%]"></div>
            <div class="bg-white w-full h-[15%]"></div>
            <div class="bg-white w-full h-[15%]"></div>
        </div>
    </div>
</header>

<app-burger-menu></app-burger-menu>