<section class="w-[calc(100vw-3.25rem)] h-[360px] p-6 pb-10 rounded-lg fixed z-50 bottom-[-1rem] m-5 bg-black">
    <div class="relative w-8 h-8 bg-transparent ml-auto" (click)="close()">
        <span class="absolute block w-full h-[2px] bg-white rotate-45 top-1/2 left-0 transform -translate-y-1/2"></span>
        <span class="absolute block w-full h-[2px] bg-white -rotate-45 top-1/2 left-0 transform -translate-y-1/2"></span>
    </div>
    <div class="flex h-full justify-between mt-3">
        <div class="w-1/3 h-2/3 my-auto">
            <img alt="cookie" src="./assets/images/cookie.png">
        </div>
        <div class="w-1/2 h-2/3 my-auto flex flex-col justify-between">
            <h2>We use cookies</h2>
            <p>This website uses cookies for your best user experience.</p>
            <button class="block w-fit bg-orange-500 rounded-sm mx-auto py-2 px-3 my-5" (click)="close()">Accept All</button>
        </div>
    </div>
</section>