<div id="swiper-container{{counter}}">
    <div class="swiper-wrapper">
        <ng-content></ng-content>
    </div>
    
    @if(extended){
    <div class="flex w-full justify-between mt-4">
        <div class="swiper-pagination my-auto flex gap-4"></div>
        
        <div class="flex gap-3">
            <div class="swiper-button-prev rotate-180">
                <img src="./assets/images/icons/arrow.svg" alt="prev-btn">
            </div>
            <div class="swiper-button-next">
                <img src="./assets/images/icons/arrow.svg" alt="next-btn">
            </div>
        </div>
    </div>
    }
</div>