@tailwind base;
@tailwind utilities;

html{
    background-color: #000000;
}
body{
    color: white;
    font-family: 'Helvetica';
    font-weight: bold;
    background: linear-gradient(180.96deg, #000000 0.82%, #3d2204 50%,#000000 100%);
}
.transperent-gray{
    background: #352b24;
}
.poppins{
    font-family: 'Poppins';
}
section{
    @apply mb-10;
}

.px-16-adaptive{
    @apply px-[clamp(1rem,5%,4rem)];
}
h1{
    font-size: 2rem;
}
h2{
    @apply text-xl;
}
h3{
    @apply text-lg;
}
h4{
    @apply text-sm;
}
html{
    font-size: 16px;
}
@media(max-width: 600px){
    html{
        font-size: 14px;
    }
}
@media(max-width: 360px){
    html{
        font-size: 12px;
    }
}