@tailwind base;
@tailwind utilities;

html{
    background-color: #000000;
}
body{
    color: white;
    font-family: 'Helvetica';
    font-weight: bold;
    background: linear-gradient(180.96deg, #000000 0.82%, #3d2204 129.1%);
}
h2{
    font-size: 18px;
}
html{
    font-size: 16px;
}
@media(max-width: 600px){
    html{
        font-size: 14px;
    }
}
@media(max-width: 360px){
    html{
        font-size: 12px;
    }
}